<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="button">
        <a href="/logout">Logout</a>
        <a href="/<%= userId %> "><button>Your Profile Detail</button></a>
        <a href="/add/<%= userId %> "><button>Add</button></a>
    </div> <br>
    <form action="/home" method="get">
        <input type="text" name="search" id="" placeholder="Search By Title">
        <input type="submit" value="Search">
    </form>

    <% data.forEach((el)=> { %>
        <h2>Title : <%= el.title %></h2>
        <h3>Publish <%= publishSince(el.createdAt) %> </h3>
        <% if (el.contentURL.slice(12, 19)=='youtube' ) { %>
            <iframe width="560" height="315" src="<%= el.contentURL %> " title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <% } else { %>
                <img src="<%= el.contentURL %> " alt="">
                <% } %>
                    <% el.Tags.forEach((el)=> { %>
                        <p>Tags : <%= el.name %>
                        </p>
                        <% }) %>
                            <p>Description : <%= el.description %>
                            </p>
                            <% el.Post_Tags.forEach((el)=> { %>
                                <%if(el.comment.length > 0 && el.comment.split(' ').length > 0){%>
                                    <p>Comment : <%= el.comment %>
                               <% }%>
                                </p>
                                <% }) %>
                                <a href="/posts/<%=el.id%>"><button>Comment</button></a>
                                    <a href="/<%= userId %>/<%= el.id %>/delete"><button>Delete Post Title <%= el.title
                                                %> </button></a>
                                    <% }) %>
</body>

</html>