<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="button">
        <a href="/logout">Logout</a>
        <a href="/<%= userId %> "><button>Your Profile Detail</button></a>
        <a href="/add/<%= userId %> "><button>Add</button></a>
    </div> <br>
    <form action="/home" method="get">
        <input type="text" name="search" id="" placeholder="Search By Title">
        <input type="submit" value="Search">
    </form>

    <% data.forEach((el)=> { %>
        <h2>Title : <%= el.titlePost %></h2>
        <h3>Post Type :  <%= el.showType() %></h3>
        <h3>Publish <%= publishSince(el.createdAt) %> </h3>
        <% if (el.contentURL.slice(12, 19)=='youtube' ) { %>
            <iframe width="560" height="315" src="<%= el.contentURL %> " title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <% } else { %>
                <img src="<%= el.contentURL %> " alt="">
                <% } %>
                    <% el.Tags.forEach((el)=> { %>
                        <p>Tags : <%= el.name %>
                        </p>
                        <% }) %>
                            <p>Description : <%= el.description %>
                            </p>
                            <% el.Post_Tags.forEach((el)=> { %>
                                <p>Comment : <%= el.comment %>
                                </p>
                                <% }) %>
                                <form action="/<%= el.id %>/comment" method="post">
                                    <input type="text" name="comment" id="">
                                    <input type="submit" value="Send Comment">
                                </form>
                                    <a href="/<%= userId %>/<%= el.id %>/delete"><button>Delete Post Title <%= el.title
                                                %> </button></a>
                                    <% }) %>
</body>

</html>