<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <h2>Your Profile Detail</h2>
    Username : <%= data.userName %> <br><br>
    Email : <%= data.email %> <br>
    <p>Your Location : <%= `${location.city}, ${location.zip_code}, ${location.country_name}` %> </p> <br>

    Change Your Profile Here :  <br><br>
    <form action="/<%= data.id %> " method="post">
        Username : 
        <input type="text" name="userName" id="" value="<%= data.userName %> "><br><br>
        Email : 
        <input type="text" name="email" id="" value="<%= data.email %> "><br><br>
        <input type="submit" value="Edit">
    </form>
</body>
</html>